

* {
    margin: 0;
    padding: 0;
  
  }
.body{
    font-family: 'Inter';
}
  
.header{

    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    height: fit-content;
    width: auto;  
    justify-content: center;
    align-items: center;
    padding-top: none;
    margin-top:none;
    border-top: none;
    font-weight:100;
    font-family: 'inter';
   z-index:900;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25);



}

.logo{
    background-color: #D9D9D9;
    flex:1;
    margin-left:2%;
}

.header-title{
    flex:2;
    background-color: #D9D9D9;
    font-size: 50px;
    font-family: 'inter';
    opacity: .8;

}

.blank-space{
    flex:4;
    background-color: #D9D9D9;
}

.question-mark{
    flex:1;
    background-color: #D9D9D9;
}

.teacher-name{
    flex:2;
    background-color: #D9D9D9;
    font-size: 30px;
}

.profile-picture{
    flex:1;
    background-color: #D9D9D9;
}
.question-mark-logo{
    max-width: 100%;  
    height: 50px; 
}

.concordia-logo{
  
    height: 50px; 
    width:50px;
    border-radius: 50%;
}

.profile-picture-logo{
    max-width: 100%;  
    height: 50px; 
}

.main-page{
    display:flex;
    flex-direction: row;
    width: auto;
    height:1000px;

    
}

.left-side{
    flex:1;
    background-color: #84A98C;
    align-items: stretch;
   

}

.middle-section{
    flex:5;
    background: #E6E6E6;
    align-items: stretch;
    padding-left:5%;
    padding-right:5%;
    padding-top: 5%;
    padding-bottom: 5%;
    
    

}
.course-card {
    margin-top: 1em;
    background: white;
    height: 100%;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    padding-right: 5em;
    padding-left: 5em;
    padding-top: 2em;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25);
}

.course-info{
    margin-top: 5%;

}

.course-text{
    margin-top: 2%;
}

.right-side{
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: #84A98C;
    align-items: stretch;
}

.right-side-top{
    background-color: #CAD2C5;
    width: auto;
    height:500px;
}

.right-side-bottom{
  display: flex;
  flex-direction: column;
    background-color: #52796F;
   height: 500px;
    width: auto;
    justify-content: center;
}
.top-calendar{
 
   background-color: #52796F ;
}

.calendar{
    justify-content: center;
   width: auto ;
   border-radius: 20px;
   font-size: 20px;
   margin-left: 20px;
   margin-right: 20px;
text-align: center;
    background-color: white;
    height: 280px;
    align-items: center;

}
.bottom-calendar{
    background-color: #52796F ;
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
