:root{
  --mainBkColor:
}
button {
    text-decoration: none;

}

* {
    margin: 0;
    padding: 0;
  
  }
.body{
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}
  
.header{

    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    height: fit-content;
    width: auto;  
    justify-content: center;
    align-items: center;
    padding-top: none;
    margin-top:none;
    border-top: none;
    font-weight:100;
    font-family: 'inter';
   z-index:900;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25);



}

.logo{
    background-color: #D9D9D9;
    flex:1;
    margin-left:2%;
}

.header-title{
    flex:2;
    background-color: #D9D9D9;
    font-size: 50px;
    font-family: 'inter';
    opacity: .8;

}

.blank-space{
    flex:4;
    background-color: #D9D9D9;
}

.question-mark{
    flex:1;
    background-color: #D9D9D9;
}

.teacher-name{
    flex:2;
    background-color: #D9D9D9;
    font-size: 30px;
}

.profile-picture{
    flex:1;
    background-color: #D9D9D9;
}
.question-mark-logo{
    max-width: 100%;  
    height: 50px; 
}

.concordia-logo{
  
    height: 50px; 
    width:50px;
    border-radius: 50%;
}

.profile-picture-logo{
    max-width: 100%;  
    height: 50px; 
}

.main-page{
    display:flex;
    flex-direction: row;
    width: auto;
    height:100%;

    
}

.left-side{
    flex:1;
    background-color: #84A98C;
    align-items: stretch;
   

}

.middle-section{
    flex:5;
    background:var(--mainBkColor);
    align-items: stretch;
    padding-left:5%;
    padding-right:5%;
    padding-top: 5%;
    padding-bottom: 5%;
    
    

}
.course-card {
    margin-left: 300px;
    margin-top: 1em;
    background: white;
    height: 100vh;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    padding-right: 5em;
    padding-left: 5em;
    padding-top: 2em;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25);
    width: 800px;
}


.announcement-container {
  display: flex;
  min-height: 20px;
  height: fit-content;
  max-height: 800px;
  flex-direction: column;
  width: 100%;
  padding: 20px, 10%, 10px, 10%;
  border-radius: 10px;
  margin-top: 15px;
  border-bottom: solid;
  padding-bottom: 2%;
}

.announcement-subject {
  height: 30%;
  font-size: large;
  font-weight: 200;
  width: 40%;
  display: flex;
  padding-left: 5%;
  justify-content: flex-start;
  align-content: center;
  background: #84A98C;
  color: #E9E9E9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#announcement-description {
  display: flex;
  flex-direction: column;
  height: 10em;
  align-items: flex-start;
  background: white;
  padding-left: 5%;
  padding-right: 5%;

}


.course-info{
    margin-top: 5%;

}

.course-text{
    margin-top: 2%;
}

.right-side{
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: #84A98C;
    align-items: stretch;
    height:auto;
}

.right-side-top{
    background-color: #CAD2C5;
    width: auto;
    height:50%;
}

.right-side-bottom{
  display: flex;
  flex-direction: column;
    background-color: #52796F;
   height: 50%;
    width: auto;
    justify-content: center;
}
.top-calendar{
 
   background-color: #52796F ;
}

.calendar{
    justify-content: center;
   width: auto ;
   border-radius: 20px;
   font-size: 20px;
   margin-left: 20px;
   margin-right: 20px;
text-align: center;
    background-color: white;
    height: 280px;
    align-items: center;

}
.bottom-calendar{
    background-color: #52796F ;
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.grades-container {
  display: flex;
  height: auto;
  padding:10px;
  
  width: 100%;
  
  
}

.overall-grades-container {
  display: flex;
  height: auto;
  padding:10px;
  border-top:3px solid;
  border-color:#52796F;
  width: auto;
  color:#52796F
}

#grades-overlay-blank-space{
  width:280px;
}

#grades-overlay-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background: rgba(0, 0, 0, 0.5);
    color:#52796F;

}

#grades-overlay-panel {
    display: none;
    flex-direction: column;
    height: 60vh;
    width: 35%;
    border-radius: 15px;
    background: white;
    z-index: 6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}


#grades-overlay-panel-header {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid;
    background-color: #52796F;
    color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    
    
}
#grades-overlay-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  

}
.grades-overlay-nav-item {
  margin-right: 10px;
  border: none;
  cursor: pointer;
 
  
}

.grades-overlay-layout {
    width: 100%;
    display: none;
    flex-direction: column;
}
.grades-overlay-layout form {
  display: flex;
  flex-direction: column;
}

#grades-overlay-layout {
    display: none;
    overflow: auto;
}

#view-grades-btn {
  border: solid 1px;
  cursor: pointer;
  color:#52796F;
  border-radius:15px;
  padding:8px;
  width:fit-content;

}
/*
.grades-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 100;
    background-color: white;
    width: 500px;
    max-width: 80%;
    display:none;
    height:100%;
    width:100%;
  }
  
  .grades-overlay.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .grades-overlay-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;

  }
  
  .grades-overlay-header .title {
    font-size: 1.25rem;
    font-weight: bold;
 

  }
  
  .grades-overlay-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;

  }
  
  .grades-overlay-body {
    padding: 10px 15px;
  

  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  

  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }




.course-buttons{
    flex:2;
    
    float:right;

}


.grade-button{
    background-color: #52796F;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 1;
    transition: 0.3s;

}

.grade-button:hover{
opacity: 0.5;
}

.grades-overlay{
position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.grades-overlay.active{
    transform: translate(-50%, -50%) scale(1);
}

.grades-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }

  .grades-title{

        font-size: 1.25rem;
        font-weight: bold;
      
  }

  .grades-header .close{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .grades-body{
    padding: 10px 15px;
  }

  #overlay {
    position: fixed;
    opacity: 100;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }

  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }

*/