body {
    margin: 0px;
    padding: 0px;
  }

.header {
    height: 0vh;
    padding: 60px;
    text-align: center;
    background: #D9D9D9;
    color: black;
    font-size: 30px;
  }

  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 1; /* Leaves some room for header */
    left: 0;
    background-color: #84A98C;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }