body {
    margin: 0px;
    padding: 0px;
  }

  .leftSide {
    display: flex;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 1; /* Leaves some room for header */
    left: 0;
    background-color: #84A98C;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

/* Image properties */
img{
  display: block;
  object-fit: scale-down;
}


  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #D9D9D9;
    height: 50px;
    width: auto;
  }

  .item{
    display: flex;
    max-height: 90%;
    width: auto;
    min-width: 0;
  }

  .rightSide{
    display: flex;
  }